[Unit]
Description=Aliyun DDNS update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/home/renyq/software/aiagent/aliyun-ddns.sh
