[Unit]
Description=Reverse SSH Tunnel to A
After=network-online.target
Wants=network-online.target

[Service]
User=root
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -N \
  -o "ServerAliveInterval=30" \
  -o "ServerAliveCountMax=3" \
  -o "ExitOnForwardFailure=yes" \
  -R 127.0.0.1:2222:localhost:22 root@82.156.118.129

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
