[Unit]
Description=Tencent firewall update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/home/renyq/software/aiagent/tencent_firewall.sh
